*{
    box-sizing: border-box;
}
button{
    background-color: none;
    border: none;
    background: none;
    font-size: larger;
    font-weight: bold;
    color: var(--cf1);
    transition: ease-in-out 300ms;
    margin-left: 5px;
}
.pixelart{
    image-rendering: pixelated;
}

img{
    width: 100%;
    background: none;
    background-color: none;
}
:root{
    --cw0: #FEFEFE;
    --cw1: #FEFEFE;
    --cw2: #E7E7E7;
    --cw22: #efebf1;
    --cw3: #DEC1E2;
    --cw4: #D8D2E9;
    --cf: #797979;
    --cf1: #535353;
    --cf2: #9b9b9b;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--cf);
    /* background-color: var(--cw4); */
    margin: 0 auto;
    background-color: var(cw3);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23DEC1E2'/%3E%3Cstop offset='1' stop-color='%23D8D2E9'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23EFEBF1' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23EFEBF1' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23EFEBF1' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23EFEBF1' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

section{
    width: 400px;
    background-color: var(--cw1);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    border-radius: 10px;
}

header{
    background-color: var(--cw1);
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
}
header svg{
    margin-left: 5px;
}
header p{
    margin: 0 auto;
    width: 100%;
    margin: 1px;
    margin-left: 10px;
    margin-bottom: 1px;

}
header button{
    background-color: none;
    border: none;
    background: none;
    font-size: larger;
    font-weight: bold;
    margin: 0px 20px;
    color: var(--cf);
    transition: ease-in-out 300ms;
}
header button:hover{
    transform: scale(1.02);
    color: var(--cf2);
}

#Banner{
    width: 100%;
}

#Banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#home {
    width: 100%;
    background-color: var(--cw1);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu1{
    color: var(--cf);
    position: relative;
    width: 400px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--cw1);
}

.menu1 button{
    background-color: none;
    border: none;
    background: none;
    font-size: larger;
    font-weight: bold;
    color: var(--cf1);
    transition: ease-in-out 300ms;
    margin-right: 0px;
}
.menu1 button:hover{
    transform: scale(1.02);
    color: var(--cf2);
}
.menu11{
    width: 50%;
    position: relative;
    left: -10px;
}
#pic{
    width: 40%;
    position: relative;
    display: block;
    transition: ease-in-out 300ms;
}

#profilePic{
    position: absolute;
    left: 0px;
    top: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cw1);
    width: 120px;
    height: 120px;
    border-radius: 100%;
    margin: 0 auto;
}
#profilePic img{
    object-fit: cover;
    width: 95%;
    height: 95%;
    border-radius: 100%;
}

#container{

    margin: 0 auto;
    margin-top: 5px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5px;
    transition: ease-out 300ms;
}

.cm1{
    background-color: none ;
    width: 40%;
    margin-top: 30px;
    margin-right: 0px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.cm1 h1{
    margin: 0 auto;
    width: 100%;
    margin-left: 5px;
    font-size: x-large;
    color: var(--cf1);

}
.cm1 h3{
    margin: 0 auto;
    /* width: 100%; */
    margin-left: 5px;
    font-size: smaller;
    margin-bottom: 5px;
}
.cm1 p{
    width: 100%;
    margin: 0 auto;
    margin-left: 5px;
    margin-right: 5px;
    font-size: smaller;
}
.cm2{
    background-color: var(--cw0);
    width: 60%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
}
.cm2 h1{
    color: var(--cf1);
    margin: 0 0;
    border-bottom: 1px solid var(--cw2);
}
.cm2 p{
    text-align: left;
}


.cm11{
    display: flex;
    flex-direction: column;
    background-color: var(--cw1);
    width: 100%;
    margin: 0 auto;
    border-top: 5px solid var(--cw2);
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 10px;
}
.cm11 h1{
    text-align: left;
    font-size: larger;
    color: var(--cf1);
}
.cm11 button{
    text-align: left;
    background: none;
    width: 100%;
    border-radius: 0%;
    border: none;
    font-size: larger;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 0px;
    margin-top: 0px;
    color: var(--cf);
    transition: ease-in-out 300ms;
}
.cm11 button:hover{
    transform: scale(1.02);
    background-color: var(--cw0);
    color: var(--cf2);
}


.contact{
    display: flex;
    flex-direction: row;
}


.fuwafuwa{
    padding: 5px;
}

.on{
    background-color: lab(92.04% -45.52 9.71 / 0.5);
    padding-right: 4px;

}
.off{
    background-color: rgb(255, 127, 127);
    padding-right: 4px;
    color: var(--cf1);

}

#gallerypage{
    padding: 5px;
    width: 100%;
    height: 100%;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    transition: ease-out 300ms;
}
#gallerypage img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 5px;
    transition: ease-in-out 300ms;
}
#gallerypage img:hover{
    transform: scale(1.02);
}
/* para edição */

#container{
    display: none;
}


#image-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#image-modal img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

#close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    transition: transform 0.2s, color 0.2s;
}

#close-modal:hover {
    color: red;
    transform: scale(1.2);
}